<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order Completed Successfully</h2>
        <p>You can Check all Your orders in the Orders Section of Ypur Profile.</p>
        <hr/>
        <p>Thank You!</p>
    </div>
</div>